# Ignore Visual Studio temporary files, build results, and user-specific files

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio folder
.vs/

# VS Code settings
.vscode/

# VS Code Release Files
Releases/

# Logs and temporary files
*.log
*.tmp
